[submodule "third-party/Megatron-LM"]
	path = third-party/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "third-party/sglang"]
	path = third-party/sglang
	url = https://github.com/sgl-project/sglang.git
[submodule "third-party/transformers"]
	path = third-party/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "third-party/libfabric"]
	path = third-party/libfabric
	url = https://github.com/ofiwg/libfabric.git
[submodule "third-party/gdrcopy"]
	path = third-party/gdrcopy
	url = https://github.com/NVIDIA/gdrcopy.git
